
voicelist
{
	position: absolute;
	bottom: 200px;
	right: 100px;
	flex-direction: column;
	width: 250px;
	padding: 5px;
	padding-bottom: 0px;
	font-family: Poppins;

	voiceentry
	{
		flex-direction: row;
		padding: 6px;
		margin-bottom: 5px;
		align-items: center;
		align-content: center;
		border-radius: 4px;
		overflow: hidden;
		transition: all 0.2s ease-out;

		&:intro
		{
			opacity: 0;
			transform: scale( 0 );
		}

		&:outro
		{
			opacity: 0;
			transition: all 0.2s ease-out;
		}

		.avatar
		{
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		.name
		{
			font-size: 16px;
			font-weight: 500;
			margin-left: 10px;
			flex-grow: 1;
			color: #c0fb2e;
		}
	}
}

.team_iris
{
	voicelist
	{
		voiceentry
		{
			background-image: url( /ui/green/player.png );
			background-size: 100%;
			font-family: Lexend;
			padding: 0px;
		}
	}
}

.team_hidden
{
	voicelist
	{
		voiceentry
		{
			background-image: url( /ui/grayscale/player-gs.png );
			background-size: 100%;
			padding: 0px;

			.name
			{
				font-family: Lexend;
				font-size: 20px;
			}

			.avatar
			{
				width: 64px;
				height: 64px;
				border-radius: 50%;
			}
		}
	}
}